*  {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.bg-primary {
    background-color: white;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.footer p {
    margin-bottom: 0;
    color: #6c757d;
}

.footer ul li {
    display: inline;
    margin-left: 10px;
}

.footer ul li a {
    color: #343a40;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}